<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/favicon.ico">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/css/main.css">

    
    







    
    
    
        <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
          

    
    
    
    
    <title>
          
            Hexo
        
    </title>
    
    
<meta name="generator" content="Hexo 6.2.0"></head>
<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="https://avatars.githubusercontent.com/u/31847433?s=400&amp;v=4">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
                
                    <v-list-item href="/categories/%E6%90%9C%E7%B4%A2%E5%BC%95%E6%93%8E%E4%B9%8B-Es/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="2" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>搜索引擎之-Es</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="mailto:kb1000fx@gmail.com" target="_blank">
                    <v-icon>fas fa-envelope</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://github.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://steamcommunity.com/profiles/76561198346798163" target="_blank">
                    <v-icon>fab fa-steam</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://weibo.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-weibo</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    Total Visitors <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2015 - 2022 
                John Doe
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/" rel="home">Hexo</a>
      </div>
      <div id="site-description"></div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2022-07-12
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E5%85%A8%E6%96%87%E6%A3%80%E7%B4%A2%E5%BC%95%E6%93%8E/ >全文检索引擎</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/%E6%90%9C%E7%B4%A2%E5%BC%95%E6%93%8E%E4%B9%8B-Es/">搜索引擎之-Es></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2022/07/12/ElasticSearch-%E5%85%A5%E9%97%A8/">ElasticSearch快速入门实战</a>
      </div>
      
      <div class="index-article-content">
        
          
全文检索数据分类：
结构化数据： 固定格式，有限长度 比如mysql存的数据
非结构化数据：不定长，无固定格式 比如邮件，word文档，日志

搜索分类：
结构化数据搜索： 使用关系型数据库
非结构化数据搜索
顺序扫描
全文检索



设想一个关于搜索的场景，假设我们要搜索一首诗句内容中带“前”字的古诗



name
content
author



静夜思
床前明月光,疑是地上霜。举头望明月，低头思故乡。
李白


望庐山瀑布
日照香炉生紫烟，遥看瀑布挂前川。飞流直下三千尺,疑是银 河落九天。
李白


…
…
…


用传统关系型数据库和ES 实现会有什么差别？
如果用像 My...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2022/07/12/ElasticSearch-%E5%85%A5%E9%97%A8/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2022-07-12
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E5%85%A8%E6%96%87%E6%A3%80%E7%B4%A2%E5%BC%95%E6%93%8E/ >全文检索引擎</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/%E6%90%9C%E7%B4%A2%E5%BC%95%E6%93%8E%E4%B9%8B-Es/">搜索引擎之-Es></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2022/07/12/hello-world/">ElasticSearch-高阶用法</a>
      </div>
      
      <div class="index-article-content">
        
          
ElasticSearch-高阶用法文档映射MappingMapping类似数据库中的schema的定义，作用如下：

定义索引中的字段的名称
定义字段的数据类型，例如字符串，数字，布尔等
字段，倒排索引的相关配置(Analyzer)

ES中Mapping映射可以分为动态映射和静态映射。
动态映射：在关系数据库中，需要事先创建数据库，然后在该数据库下创建数据表，并创建表字段、类型、长度、主键等，最后才能基于表插入数据。而Elasticsearch中不需要定义Mapping映射（即关系型数据库的表、字段等），在文档写入Elasticsearch时，会根据文档字段自动识别类型，这种机制称...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2022/07/12/hello-world/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2022-07-12
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2022/07/12/ElasticSearch-%E9%AB%98%E9%98%B6%E7%94%A8%E6%B3%95/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2022/07/12/ElasticSearch-%E9%AB%98%E9%98%B6%E7%94%A8%E6%B3%95/">ElasticSearch-高阶用法</a>
      </div>
      
      <div class="index-article-content">
        
          ElasticSearch-高阶用法文档映射MappingMapping类似数据库中的schema的定义，作用如下：

定义索引中的字段的名称
定义字段的数据类型，例如字符串，数字，布尔等
字段，倒排索引的相关配置(Analyzer)

ES中Mapping映射可以分为动态映射和静态映射。
动态映射：在关系数据库中，需要事先创建数据库，然后在该数据库下创建数据表，并创建表字段、类型、长度、主键等，最后才能基于表插入数据。而Elasticsearch中不需要定义Mapping映射（即关系型数据库的表、字段等），在文档写入Elasticsearch时，会根据文档字段自动识别类型，这种机制称之...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2022/07/12/ElasticSearch-%E9%AB%98%E9%98%B6%E7%94%A8%E6%B3%95/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  

         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2015 - 2022 John Doe</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>

<script src="/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>








</body>
</html>